.navbar{
    background-color: var(--main-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 20px;
}
.navbar .user{
    display: flex;
    flex-direction: row;
    
    padding-left: 20px;
    gap: 10px;
}
.signouttext:hover{
    color: red;
    cursor: pointer;
}